{% extends "layout.html" %}

{% block main %}

<h1>History</h1>

<table>
    <tr>
        <th>Type</th>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Date</th>
    </tr>

    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.shares }}</td>
        <td>{{ transaction.price | usd }}</td>
        <td>{{ transaction.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}